<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplicacionCocinas.Properties.Settings.CadenaConexion" connectionString="Data Source=SERVIDORBOMBAY\SQLINDOT;Initial Catalog=Bombay_Cocinas;User ID=Crystal;Password=B19421943b" providerName="System.Data.SqlClient"/>
        <add name="AplicacionCocinas.Properties.Settings.CadenaODBC" connectionString="Dsn=SQLServer;uid=Crystal;pwd=B19421943b" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
